body {
    text-shadow: black;
    text-align: center;
	background: rgb(191, 153, 241);
}

.player1_name_input {
    color: cornsilk;
    width: 30%;
}

.player2_name_input {
    color: cornsilk;
    width: 30%;
}

.login_div1 {
    color: cornsilk;
    width: 30%;
}

#button1 {
    background-color: cornsilk;
}